@font-face {
  font-family: 'iconfont';  /* project id 1318851 */
  src: url('//at.alicdn.com/t/font_1318851_4ai37moms55.eot');
  src: url('//at.alicdn.com/t/font_1318851_4ai37moms55.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1318851_4ai37moms55.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1318851_4ai37moms55.woff') format('woff'),
  url('//at.alicdn.com/t/font_1318851_4ai37moms55.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1318851_4ai37moms55.svg#iconfont') format('svg');
}
.icon{
    font-family: 'iconfont';
}

$font = 'Avenir', 'Helvetica', 'Arial', 'sans-serif'

$fontColor_Aside = #b5b5b5
$fontColor_Default = #212121

$single-line-overflow()
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

$double-line-overflow()
    overflow:hidden; 
    text-overflow:ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2; 