@font-face {
  font-family: 'iconfont';  /* project id 1318851 */
  src: url('//at.alicdn.com/t/font_1318851_6lkfz8u4cqe.eot');
  src: url('//at.alicdn.com/t/font_1318851_6lkfz8u4cqe.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1318851_6lkfz8u4cqe.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1318851_6lkfz8u4cqe.woff') format('woff'),
  url('//at.alicdn.com/t/font_1318851_6lkfz8u4cqe.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1318851_6lkfz8u4cqe.svg#iconfont') format('svg');
}
.icon{
    font-family: 'iconfont';
    color: white !important;
}

$font = 'Avenir', 'Helvetica', 'Arial', 'sans-serif'